<%- include('includes/head') %>
<title>Home</title>
</head>
<body>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-5">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center">Seus contatos:</p>

      <%- include('includes/messages') %>

      <% if (contatos.length > 0) { %>
      <div class="responsive-table">
        <table class="table my-3">
          <% contatos.forEach(contato => { %>
            <tr>
              <td><%= contato.nome %></td>
              <td><%= contato.sobrenome %></td>
              <td><%= contato.telefone %></td>
              <td><%= contato.email %></td>
              <td><a href="/contato/<%= contato.id %>">Editar</a></td>
              <td><a class="text-danger" href="/delete/<%= contato.id %>">Excluir</a></td>
            </tr>
          <% }) %>
        </table>
      </div>
      <% } else { %>
          <div class="alert alert-danger">
            Lista de contatos vazia
          </div>
      <% } %>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>